<%- include("header.ejs") %>


<section class="about">
    <div class="back-color">
    <div class="text animation back-color">
<h1 class="texth1"> About Me</h1>

<img src="./pictures/tiger.jpg" alt="tiger_image" class="about-image">

<p> This "Blogger" site was created by me, Amish Kumar Dubey, 
    a student at Birla School of Technology Mesra. 
    I dedicated a significant amount of time, hard work, and love to building it, 
    and it's used for writing and editing the blog.</p>

</div>
</div>









</section>

<%- include("footer.ejs") %>