<%- include("header.ejs") %>
<section class="membership back-color "> 
<div class="text animation">
<h1 class="texth1">Join Our Community!</h1>
<p>Unlock exclusive content, connect with like-minded individuals, and get more from our platform by becoming a member today. Explore a world of benefits designed just for you</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center animation">
<div class="col"> 
<div class="card mb-4 rounded-3 shadow-sm"> 
<div class="card-header py-3"> 
<h4 class="my-0 fw-normal">Free Membership</h4> </div> 
<div class="card-body"> 
<h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1> 
<ul class="list-unstyled mt-3 mb-4"> 
<li>Dive in and experience the basics of our platform. Our Free Membership offers essential features to help you get acquainted with our community and content. It's the perfect way to explore before you commit.</li> 
</ul> 
<button type="button" class="w-100 btn btn-lg btn-outline-dark"><a href="/write" class="nav-link px-2 ">Sign up for free</a></button> 
</div> </div> </div> 
<div class="col"> 
<div class="card mb-4 rounded-3 shadow-sm">
<div class="card-header py-3"> 
<h4 class="my-0 fw-normal">Pro Membership</h4> 
</div> <div class="card-body"> 
<h1 class="card-title pricing-card-title">$399<small class="text-body-secondary fw-light">/mo</small></h1> 
<ul class="list-unstyled mt-3 mb-4"> 
<li> Upgrade to Pro Membership and unlock advanced features, exclusive content, and enhanced support. Designed for individuals looking to maximize their engagement and benefit from a richer, ad-free experience.</li> 

</ul> 
<button type="button" class="w-100 btn btn-lg btn-dark"><a href="https://www.sbiepay.sbi/" class="nav-link px-2 text-white">Pay now</a></button> 
</div> </div> </div> 
<div class="col"> 
<div class="card mb-4 rounded-3 shadow-sm border-dark"> 
<div class="card-header py-3 text-bg-dark border-dark"> 
<h4 class="my-0 fw-normal">Enterprise Membership</h4> </div> 
<div class="card-body"> 
<h1 class="card-title pricing-card-title">$999<small class="text-body-secondary fw-light">/mo</small></h1> 
<ul class="list-unstyled mt-3 mb-4"> 
 <li>Empower your organization with our comprehensive Enterprise Membership. Gain access to all Pro features, plus dedicated account management, bulk user management, priority support, and custom integrations tailored to your business needs.</li> 
</ul> 
<button type="button" class="w-100 btn btn-lg btn-dark"><a href="https://www.sbiepay.sbi/" class="nav-link px-2 text-white">Pay now</a></button> 
</div> </div> </div> </div>




</section>


<%- include("footer.ejs") %>